# Dependency directories
gateway/node_modules/
node_modules/
chaincode/vendor/

# Local/temporary files
clean.sh
.idea/
.vscode/
*.log
*.tar.gz
temp/
tmp/

# Backend files
backend/node_modules/
backend/wallet/
backend/.env

